<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog <%=title %></title>
</head>
<body>
    <h1>About</h1>
    <nav>
        <div>
            <a href=""><h1>BLOG</h1></a>
            <p>A my first blog</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New Blog</a></li>
        </ul>
    </nav>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dignissimos vero 
    molestiae magni ducimus quia suscipit ad non, aut cumque, nihil, eveniet odit odio quod maiores. Enim earum labore aspernatur.</p>
    <h1>ABOUT</h1>
</body>
</html>