<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad quo, magni sint saepe, nobis consequatur quidem,
         illo praesentium itaque commodi velit nemo aliquid! Placeat quo incidunt officiis voluptatem, eos quis!
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>