<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="blogs content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, ipsa quo! Saepe laudantium laborum minus ratione quasi, 
        tenetur libero iure deleniti, maiores praesentium officiis excepturi repellat? Atque ratione in dolore!
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>