<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")%>
<body>
    <h1>집가자</h1>
    <nav>
        <%- include("./partials/nav.ejs")%>
    </nav>
    <h1>집Home</h1>
    <div class="blogs content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium soluta ducimus illo dolor 
        itaque minus cum voluptas omnis quae porro, numquam dignissimos veritatis aut sed esse obcaecati sapiente rerum odit.
    </div>
    <!-- <script> 를 나중에 지워준다.-->
     <% for(var i=0; i<5; i++){%>
        <h1>안녕</h1> 
        <% } %>
<!-- </script> -->
    <%- include("./partials/footer.ejs") %>
</body>
</html>