<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <!-- title이란 변수의 값을 전달 받겠다 -->
</head>
<body>
    
</body>
</html>