/* Animation */

/* 
- animation-name: @keyframes 애니메이션 이름 지정
  - 시작: from or 0%
  - 중간: 0 ~ 100%
  - 끝: to or 100%
- animation-duration: 한 사이클의 애니메이션이 몇 초동안 이뤄저야 하는지 지정 (단뒤: s)
- animation-delay: 요소가 그려진 후, 얼마나 기다렸다가 애니메이션을 시작할지 지정 (단뒤: s)
- animation-interation-count: 애니메이션 반복 횟수 (default: 1, infinite: 무한 반복)
- animation-timing-function: 중간 상태들의 전환을 어떤 시간 간격으로 진행할지 지정
  - linear, ease, ease-in, ease-out, ease-in-out 등
- animation-direction: 애니메이션의 한 사이클이 종료되고, 반복될 때 진행할 방향 지정
  - noraml, reverse(반대방향), alternate(반복될때마다 방향을 바꿈), alternate-reverse
  *alternate? from -> to 방향으로 애니메이션이 진행 -> (다음 회차) to -> from 방향을 바꿔가며 반복
*/

.box {
    width: 100px;
    height: 100px;
    background-color: cyan;
    position: relative;
  
    animation-name: left-right;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 3; /*давтамж */
     animation-timing-function: linear;  
  }
  
  /* @keyframes 이용해 나만의 애니메이션 제작 */
  @keyframes left-right {
    0% {
      left: 0;
    }
    25% {
      left: 200px;
    }
    50% {
      
      left: 400px;
    }
    75% {
      left: 200px;
    }
    100% {
      left: 0;
    }
  }
  
  .bounce-ball1 {
    position: relative;
    left: 100px;
    top: 0;
  
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
  
    /* animation-name: bounce1;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
  
    /* 애니메이션 단축 프로퍼티 */
    /* animation: bounce1 1s ease-out infinite alternate; */
  }
  
  @keyframes bounce1 {
    to {
      top: 50px;
    }
    from {
      top: 300px;
    }
  }
  
  .bounce-ball2 {
    width: 50px;
    height: 50px;
    background-color: tomato;
    border-radius: 50%;
  
    position: absolute;
    animation-name: bounce2;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  
  @keyframes bounce2 {
    from, to {
      bottom: 0;
      animation-timing-function: ease-out;
      /* 0px 에서 정상속도로 시작 -> 속도를 줄이면서 300px 까지 도달 */
    }
    
    50% {
      bottom: 300px;
      animation-timing-function: ease-in;
      /* 300px 에서 천천히 시작되어 -> 0px 로 가면서 정속도로 끝 */
    }
  }