<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form 양식</h1>
    <h2>get 방식</h2>
    <form action="/login" method="get">
        <label for="id"> ID: </label>
        <input type="text" id="id" name="id" placeholder="3글자이상" minlength="3">
        <br>
        <label for="pw">비밀번호</label>
        <input type="password" name="pw" id="pw" placeholder="비밀번호 입력" required>
        <input type="submit">
    </form>
    
</body>
</html>