<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">Form</form>
    <h2>get 요청</h2>
    <form action="/login" method="get">
        <label for="id">ID</label>
        <input type="text" name="id" placeholder="ID는 최소 3글자" id="id" minlength="3">
        <label for="pw">PW</label>
        <input type="password" name="pw" placeholder="pw" id="pw">
        <input type="number" name="grade" placeholder="GRADE" max="4">
        <button>제출</button>
    </form>
</body>
</html>