<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/login" method="get">
        <h2>get 요청</h2>
        <label for="id">ID
            <input type="text" name="id" id="id" placeholder="ID는 최소 3글자" minlength="3">
        </label>
        

        <label for="pw">PW
            <input type="password" name="pw" id="pw" placeholder="PW">
        </label>

        <input type="number" name="grade" placeholder="GRADE" id="4">

        <button>제출</button>
    </form>
    <hr />

    <form action="/login" method="post">
        <h2>post 요청</h2>
        <label for="id">ID
            <input type="text" name="id" id="id" placeholder="ID는 최소 3글자" minlength="3">
        </label>
        

        <label for="pw">PW
            <input type="password" name="pw" id="pw" placeholder="PW">
        </label>

        <input type="number" name="grade" placeholder="GRADE" id="4">

        <button>제출</button>
    </form>

    <hr />
    <form action="/js-form-check" method="post" name="valiform" onsubmit="checkForm()">
        <h2>유효성 검사</h2>
        <label for="id">ID</label>
        <input type="text" name="id" placeholder="ID는 최소 3글자" id="id" minlength="3">
        <h3>우편물 수령 장소 선택: </h3> 
        <!-- radio는 둘중 하나만 선택해야하므로 같은 name 써야함 -->
        <input type="radio" name="post" value="자택"> 자택
        <input type="radio" name="post" value="회사"> 회사
        <input type="submit" value="제출하기">
    </form>
    <script>
        function checkForm(){
            if(form.id.value==''){
               
                form.id.focus(); //id입력하도록 다시 focus해줘야함
            }

            if((form.post[0].checked==false)&&(form.post[1].checked==false)){
                alert('우편물 수령장소를 선택해주세요.')
            }
        }
    </script>
</body>
</html>