body{
    background-color: pink;
}
#kdt{
    width: calc(10vw);
    height: calc(10vw);
    background-color: black;
    color: white;
    text-align: center;
    margin: 50% 50%;
    line-height: calc(10vw);
}
