<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INDEX</h1>
    <p>Middleware: 특정한 온전한 기능을 수행할 수 있는 코드들 </p>
</body>
</html>