/* 일치 선택자 */
section.first {
    background-color: yellowgreen;
  }
  
  /* 하위(후손) 선택자: 공백 */
  body section {
    border: 1px solid blue; /* 경계선 */
  }
  
  body section h2 {
    border: 1px solid green;
  }
  
  /* 자식 선택자: > */
  .first > h2 {
    color: white;
    background-color: navy;
  }
  
  .second > h2 {
    color: navy;
    background-color: whtie;
  }

  /* 인접형제 선택자 */
  /* 주의: kong id값을 갖는 요소 바로 뒤에 li 태그가 있어야한다.  */
  #kong + li{
    background-color: aqua;
  }

  /* 일반 형제 선택자 */
  #kong ~ li {
    color: rgb(235, 137, 201);
  }
  /* CSS 색상 표현 방식 
    1. 색상 키워드: red, black 등등
    2. 16진수 코드(hex color): #XXXXXX
        -#000000
        -#ffffff
    3. rgb 함수 (0~255, 0~255, 0~255) 
        rgb(255, 255, 255) white
        rgb(0,0,0) black
  */
