// scss 파일 명 앞에 _ 의미: 이 파일은 css 파일로 변환될 필요가 없음

// - 변수를 선언: $ 키워드 사용

$color-first: red;
$color-second: yellow;
$color-third:pink;
$animation-duration: 0.4s;

// 색상 변수를 정의합니다.
$color-pink: pink;
$color-yellow: yellow;
$color-green: green;

