<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="C:\Users\nomin\OneDrive\Documents\Github\codingon12\07_Nodejs\14\public\style.css">
</head>